.navbar__body {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 33%;
  max-width: calc(1250px * 0.33);
}

.navbar__box {
  background-color: black;
  color: white;
  width: 80%;
  height: 45%;
  margin-top: 100px;
  padding-left: 1rem;
  box-sizing: border-box;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.navbar__contents {
  list-style: none;
  font-weight: bold;
  padding: 0;
  margin-top: 2rem;
}

.navbar__contents li {
  margin: 1rem 0;
}

.navbar__contents__projects {
  font-weight: 400;
  list-style: none;
}

.navbar__contents li a,
.navbar__contents__projects a {
  text-decoration: none;
  color: white;
}

.navbar__language {
  width: 100%;
  text-align: end;
}

.navbar__language p {
  padding: 0;
  margin-right: 20px;
}

.flag {
  cursor: pointer;
}
