.navbar__body {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 33%;
  max-width: calc(1250px * 0.33);
  z-index: 1;
}

.navbar__box {
  background-color: black;
  color: white;
  width: 80%;
  height: 45%;
  margin-top: 100px;
  padding-left: 1rem;
  box-sizing: border-box;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.navbar__contents {
  list-style: none;
  font-weight: bold;
  padding: 0;
  margin-top: 2rem;
}

.navbar__contents li {
  margin: 1rem 0;
}

.navbar__contents__projects {
  font-weight: 400;
  list-style: none;
  margin-left: -1rem;
}

.navbar__contents li a,
.navbar__contents__projects a {
  text-decoration: none;
  color: white;
}

.navbar__contents li a:hover,
.navbar__contents__projects a:hover {
  text-decoration: underline;
}

.navbar__projects {
  padding: 0;
  margin: 0;
}

.navbar__language {
  width: 100%;
  text-align: end;
}

.navbar__language p {
  padding: 0;
  margin-right: 20px;
}

.flag {
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .navbar__body {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    transition: 1s;
  }

  .navbar__box {
    position: absolute;
    width: 100%;
    margin-top: 0;
    padding-top: 50px;
    height: 100%;
  }
}
